egate.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b230824.1031 svn-revision#e4bad6ac24018736698e2952f77e76e7f403a9f1. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b230824.1031 svn-revision#e4bad6ac24018736698e2952f77e76e7f403a9f1. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://erste.hu/egate" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://erste.hu/egate" name="egate">
<types>
<xsd:schema>
<xsd:import namespace="http://erste.hu/egate" schemaLocation="https://raw.githubusercontent.com/mssc01/egate_ms/refs/heads/main/egate.xsd"/>
</xsd:schema>
</types>
<message name="ping">
<part name="parameters" element="tns:ping"/>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"/>
</message>
<message name="sign">
<part name="parameters" element="tns:sign"/>
</message>
<message name="signResponse">
<part name="parameters" element="tns:signResponse"/>
</message>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"/>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"/>
</message>
<message name="extendValidation">
<part name="parameters" element="tns:extendValidation"/>
</message>
<message name="extendValidationResponse">
<part name="parameters" element="tns:extendValidationResponse"/>
</message>
<message name="signAck">
<part name="parameters" element="tns:signAck"/>
</message>
<message name="signAckResponse">
<part name="parameters" element="tns:signAckResponse"/>
</message>
<message name="validateAck">
<part name="parameters" element="tns:validateAck"/>
</message>
<message name="validateAckResponse">
<part name="parameters" element="tns:validateAckResponse"/>
</message>
<message name="validate">
<part name="parameters" element="tns:validate"/>
</message>
<message name="validateResponse">
<part name="parameters" element="tns:validateResponse"/>
</message>
<portType name="egate">
<operation name="ping">
<input wsam:Action="http://erste.hu/egate/service/ping" message="tns:ping"/>
<output wsam:Action="http://erste.hu/egate/egate/pingResponse" message="tns:pingResponse"/>
</operation>
<operation name="sign">
<input wsam:Action="http://erste.hu/egate/service/sign" message="tns:sign"/>
<output wsam:Action="http://erste.hu/egate/egate/signResponse" message="tns:signResponse"/>
</operation>
<operation name="getStatus">
<input wsam:Action="http://erste.hu/egate/service/getStatus" message="tns:getStatus"/>
<output wsam:Action="http://erste.hu/egate/egate/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="extendValidation">
<input wsam:Action="http://erste.hu/egate/service/extendValidation" message="tns:extendValidation"/>
<output wsam:Action="http://erste.hu/egate/egate/extendValidationResponse" message="tns:extendValidationResponse"/>
</operation>
<operation name="signAck">
<input wsam:Action="http://erste.hu/egate/service/signAck" message="tns:signAck"/>
<output wsam:Action="http://erste.hu/egate/egate/signAckResponse" message="tns:signAckResponse"/>
</operation>
<operation name="validateAck">
<input wsam:Action="http://erste.hu/egate/service/validateAck" message="tns:validateAck"/>
<output wsam:Action="http://erste.hu/egate/egate/validateAckResponse" message="tns:validateAckResponse"/>
</operation>
<operation name="validate">
<input wsam:Action="http://erste.hu/egate/service/validate" message="tns:validate"/>
<output wsam:Action="http://erste.hu/egate/egate/validateResponse" message="tns:validateResponse"/>
</operation>
</portType>
<binding name="egatePortBinding" type="tns:egate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ping">
<soap:operation soapAction="http://erste.hu/egate/service/ping"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sign">
<soap:operation soapAction="http://erste.hu/egate/service/sign"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStatus">
<soap:operation soapAction="http://erste.hu/egate/service/getStatus"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="extendValidation">
<soap:operation soapAction="http://erste.hu/egate/service/extendValidation"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="signAck">
<soap:operation soapAction="http://erste.hu/egate/service/signAck"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateAck">
<soap:operation soapAction="http://erste.hu/egate/service/validateAck"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validate">
<soap:operation soapAction="http://erste.hu/egate/service/validate"/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="egate">
<port name="egatePort" binding="tns:egatePortBinding">
<soap:address location="https://ebhfat.erste.hu:463/egate-ws/egate"/>
</port>
</service>
</definitions>